/* body {
    background-color: #c3ddad;
}

header {
    color: #f68280;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

p {
    color: black;
    font-size: 18px;
}